<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../plugins/bootstrap-5.1.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/fontawesome-free-5.15.4-web/css/all.min.css">
    <script src="../plugins/sweet-alert/dist/sweetalert2.min.css"></script>
    <title>Healt Track</title>
</head>
<body>
    <div class="flex-dashboard">
    <sidebar id="sidebar"> 
    <div class="sidebar-title">
    <img src="../img/healthTrack.png" alt="">
    <h2>Health Track</h2>
    </div>

    <div class="menu">
        <ul>
            <li class="selected">
                <i class="fas fa-user"></i>
                <a href="perfil.html">  Perfil</a>
            </li>
            <li>
                <i class="fas fa-chart-pie"></i>
                <a href="dashboard.html">  Dashboard</a>
            </li>
            <li>
                <i class="fas fa-balance-scale-right"></i>
                <a href="pesoAltura.html"> </i> Gerenciar Peso e Altura</a>
            </li>
            <li>
                <i class="fas fa-heartbeat"></i>
                <a href="pressao.html">  Gerenciar Pressão Arterial</a>
            </li>
            <li>
                <i class="fas fa-running"></i>
                <a href="atividade.html">  Gerenciar Atividades Físicas</a>
            </li>
            <li>
                <i class="fas fa-utensils"></i>
                <a href="alimentacao.html"> Gerenciar Alimentação</a>
            </li>
            
            <li>
                <i class="fas fa-calculator"></i> 
                <a href="calculadora.html"> Calculadora IMC</a>
            </li>
            <li class="sidebar_logout">
                <i class="fas fa-sign-out-alt"></i>
                <a href="../index.html"> Logout</a>
            </li>
        </ul>
    </div>
    </sidebar>
    <main id="mainContent">
    <header>
        <i id="iconMenu" onclick="responsiveSidebar()" class="fas fa-bars"></i>
        <a href="../index.html"> <i class="fas fa-sign-out-alt"></i> Logout</a>
    </header>
<div class="main-content">
    <div class="main-content-title">
    <h2>Perfil</h2>
    </div>
    <div class="perfil-parent">
            <div class="perfil">
                <div class="perfil-img">
                    <div class="img"></div>                    
                </div>
            <div class="perfil-form">
                        <form id="form-perfil">
                            <div class="form-group">
                                <label for="name" class="form-label">Nome Compelto</label>
                                <input type="text" class="form-control" name="nome" id="name" placeholder="Digite seu Nome Completo">
                            </div>
                            <div class="form-group">
                                <label for="age" class="form-label">Idade</label>
                                <input type="text" class="form-control" name="idade" id="age" placeholder="Digite sua Idade">
                            </div>
                            <div class="form-group">
                                <label for="cpf" class="form-label">CPF</label>
                                <input type="text" class="form-control" name="cpf" id="cpf" placeholder="Digite seu CPF">
                            </div>
                                <div class="form-group">
                                    <label for="genre">Gênero</label>
                                    <select name="genero" id="genre" class="form-control">
                                    <option hidden>Escolha seu Gênero</option>
                                    <option>Feminino</option>
                                    <option>Masculino</option>
                                    </select>
                                </div>    
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" name="email" id="email" placeholder="Digite seu Email">                        
                            </div>
                            <div class="form-group">
                                <label for="password">Senha</label>
                                <input type="password" class="form-control" name="senha" id="password" placeholder="Digite sua senha">
                            </div>
                            <div class="form-group">
                                <label for="password">Confirmar Senha</label>
                                <input type="password" class="form-control" name="confirmarSenha" id="confirmPassword" placeholder="Digite sua senha novamente">
                            </div>
                            <div class="custom-file">                            
                                <input type="file" class="custom-file-input" id="customFile">
                                <label class="custom-file-label" for="customFile"></label>
                            </div>
                            <button type="submit" class="btn">Salvar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
    <script src="../plugins/jquery/jquery.min.js"></script>
    <script src="../plugins/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="../plugins/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="../plugins/jquery-validation/dist/localization/messages_pt_BR.min.js"></script>
    <script src="../plugins/sweet-alert/dist/sweetalert2.all.min.js"></script>
    <script src="../plugins/bootstrap-5.1.3-dist/js/bootstrap.min.js"></script>
    <script src="../plugins/fontawesome-free-5.15.4-web/js/all.min.js"></script>
    <script src="../js/menu.js"></script>
    <script src="../js/ajax.js"></script>
    <script src="../js/perfil.js"></script>
</body>
</html>